.button-row button-widget {
    margin: 0 4px;
    padding-bottom: 5px;
    display: inline-block;
}

.row {
    margin: 10px 0;
}

progressbar-widget {
    padding-bottom: 5px;
    display: block;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

led-widget {
    min-width: 75px;
    display: inline-flex;
}